<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kb.youngly.mapper.AccountMapper">
    <insert id="insert">

        INSERT INTO accounts
        (
            account_id,
            user_id,
            kb_account_id,
            account_status,
            account_name
        )
        VALUES
            (
                #{accountId},
                #{userId},
                #{kbAccountId},
                #{accountStatus},
                #{accountName}
            )

    </insert>
    <select id="findByUserIdAndType"
            resultType="com.kb.youngly.dto.account.AccountDTO">

        SELECT
            a.account_id,
            k.account_type,
            k.account_number,
            k.bank_name,
            k.balance,
            a.account_status
        FROM accounts a
                 JOIN kb_accounts k
                      ON a.kb_account_id = k.kb_account_id
        WHERE a.user_id = #{userId}
          AND k.account_type = #{accountType}
            LIMIT 1

    </select>
    <update id="update">

        UPDATE accounts
        SET
            kb_account_id = #{kbAccountId},
            account_status = #{accountStatus},
            account_name = #{accountName}
        WHERE account_id = #{accountId}

    </update>
    <select id="findByAccountId"
            resultType="com.kb.youngly.dto.account.AccountDTO">

        SELECT
            a.account_id,
            k.account_type,
            k.account_number,
            k.bank_name,
            k.balance,
            a.account_status
        FROM accounts a
                 JOIN kb_accounts k
                      ON a.kb_account_id = k.kb_account_id
        WHERE a.account_id = #{accountId}

    </select>
    <delete id="delete">

        DELETE
        FROM accounts
        WHERE account_id = #{accountId}

    </delete>
</mapper>