<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.youngly.mapper.GroupMapper">

    <insert id="insertGroup"
            parameterType="com.kb.youngly.vo.group.GroupVO">

        INSERT INTO `groups` (
            group_id,
            moim_account_id,
            user_id,
            invite_code,
            group_name,
            group_count,
            custom_rule,
            challenge_type,
            content,
            future_deposit_ratio_rule,
            duration_days,
            min_count,
            round_cycle_days,
            base_deposit_amount,
            group_status
        )
        VALUES (
                   #{groupId},
                   #{moimAccountId},
                   #{userId},
                   #{inviteCode},
                   #{groupName},
                   #{groupCount},
                   #{customRule},
                   #{challengeType},
                   #{content},
                   #{futureDepositRatioRule},
                   #{durationDays},
                   #{minCount},
                   #{roundCycleDays},
                   #{baseDepositAmount},
                   #{groupStatus}
               )

    </insert>

    <select id="findGroupsByUserId"
            parameterType="string"
            resultType="com.kb.youngly.dto.group.GroupListResponse">

        SELECT
            g.group_id,
            g.group_name,
            g.group_count,
            g.group_status
        FROM `groups` g
                 LEFT JOIN group_users gu
                           ON g.group_id = gu.group_id
        WHERE
            g.user_id = #{userId}
           OR (
            gu.user_id = #{userId}
                AND gu.group_user_status = 'ACTIVE'
            )
        GROUP BY
            g.group_id,
            g.group_name,
            g.group_count,
            g.group_status
        ORDER BY g.created_at DESC

    </select>

</mapper>