<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.youngly.mapper.GroupUserMapper">

    <select id="findGroupUser"
            resultType="com.kb.youngly.vo.group.GroupUserVO">

        SELECT *
        FROM group_users
        WHERE group_id = #{groupId}
        AND user_id = #{userId}

    </select>

    <insert id="insertGroupUser">

        INSERT INTO group_users(
        group_id,
        user_id,
        group_user_status
        )

        VALUES(
        #{groupId},
        #{userId},
        #{groupUserStatus}
        )

    </insert>

    <select id="findPendingGroupUsers"
            parameterType="string"
            resultType="com.kb.youngly.dto.group.JoinRequestResponse">

        SELECT
            gu.group_user_id,
            gu.user_id,
            u.nickname,
            u.profile_image_url
        FROM group_users gu
                 JOIN users u
                      ON gu.user_id = u.user_id
        WHERE gu.group_id = #{groupId}
          AND gu.group_user_status = 'PENDING_APPROVAL'
        ORDER BY gu.created_at ASC

    </select>
</mapper>