<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kb.youngly.mapper.MoimAccountMapper">
    <select id="findByUserId"
            resultType="com.kb.youngly.dto.moimaccount.MoimAccountDTO">

        SELECT DISTINCT
            m.moim_account_id,
            k.account_number,
            k.bank_name,
            k.balance,
            m.account_name,
            owner_user.name AS owner_name,
            m.synced_at,
            CASE
                WHEN m.user_id = #{userId} THEN TRUE
                ELSE FALSE
                END AS owner
        FROM moim_accounts m
                 INNER JOIN kb_accounts k
                            ON m.kb_account_id = k.kb_account_id
                 INNER JOIN users owner_user
                            ON owner_user.user_id = m.user_id
                 LEFT JOIN `groups` g
                           ON g.moim_account_id = m.moim_account_id
                 LEFT JOIN group_users gu
                           ON gu.group_id = g.group_id
                               AND gu.user_id = #{userId}
                               AND gu.group_user_status IN (
                                                            'ACTIVE',
                                                            'PENDING_DEPOSIT'
                                   )
        WHERE m.account_status = 'ACTIVE'
          AND (
            m.user_id = #{userId}
                OR g.user_id = #{userId}
                OR gu.user_id IS NOT NULL
            )

    </select>
    <update id="updateStatus">

        UPDATE moim_accounts
        SET account_status = #{accountStatus}
        WHERE moim_account_id = #{moimAccountId}

    </update>
    <select id="findById"
            resultType="com.kb.youngly.vo.moimaccount.MoimAccountVO">

        SELECT
            m.moim_account_id,
            m.user_id,
            m.kb_account_id,
            m.account_status,
            m.account_name,
            m.created_at,
            m.synced_at,
            m.updated_at
        FROM moim_accounts m
        WHERE m.moim_account_id = #{moimAccountId}

    </select>
    <insert id="insert">

        INSERT INTO moim_accounts
        (
            moim_account_id,
            user_id,
            kb_account_id,
            account_status,
            account_name
        )
        VALUES
            (
                #{moimAccountId},
                #{userId},
                #{kbAccountId},
                #{accountStatus},
                #{accountName}
            )
    </insert>

    <select id="findByKbAccountId"
            resultType="com.kb.youngly.vo.moimaccount.MoimAccountVO">

        SELECT
            moim_account_id,
            user_id,
            kb_account_id,
            account_status,
            account_name,
            created_at,
            synced_at,
            updated_at
        FROM moim_accounts
        WHERE kb_account_id = #{kbAccountId}
            LIMIT 1
    </select>

    <update id="updateSyncedAt">

        UPDATE moim_accounts
        SET synced_at = CURRENT_TIMESTAMP
        WHERE moim_account_id = #{moimAccountId}
          AND user_id = #{userId}

    </update>

    <select id="findBalanceSyncResult"
            resultType="com.kb.youngly.dto.moimaccount.MoimAccountBalanceSyncResponseDTO">

        SELECT
            m.moim_account_id,
            k.balance,
            m.synced_at
        FROM moim_accounts m
                 INNER JOIN kb_accounts k
                            ON m.kb_account_id = k.kb_account_id
        WHERE m.moim_account_id = #{moimAccountId}
          AND m.user_id = #{userId}

    </select>
    <select id="search"
            parameterType="com.kb.youngly.dto.account.AccountSearchDTO"
            resultType="com.kb.youngly.dto.account.KbAccountDTO">

        SELECT
            k.kb_account_id,
            k.account_number,
            k.bank_name,
            k.balance,
            k.interest_rate,
            k.account_type
        FROM kb_accounts k
                 LEFT JOIN moim_accounts m
                           ON k.kb_account_id = m.kb_account_id
        WHERE
            k.name = #{name}
          AND k.birthday = #{birthday}
          AND k.account_type = 'MOIM'
          AND (
            m.kb_account_id IS NULL
                OR m.account_status = 'DEACTIVATED'
            )

    </select>
    <!-- 소유한 모임통장 이름 변경 -->
    <update id="updateAccountName">
        UPDATE moim_accounts
        SET account_name = #{accountName},
            updated_at = CURRENT_TIMESTAMP
        WHERE moim_account_id = #{moimAccountId}
          AND user_id = #{userId}
          AND account_status = 'ACTIVE'
    </update>
</mapper>
