<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.youngly.mapper.UserMapper">

    <select id="existsLoginId"
            parameterType="java.lang.String"
            resultType="int">

        SELECT COUNT(*)
        FROM users
        WHERE login_id = #{loginId}

    </select>

    <select id="existsEmail"
            parameterType="java.lang.String"
            resultType="int">

        SELECT COUNT(*)
        FROM users
        WHERE email = #{email}

    </select>

    <insert id="insertUser"
            parameterType="com.kb.youngly.vo.UserVO">

        INSERT INTO users (
            user_id,
            name,
            login_id,
            nickname,
            email,
            profile_image_url,
            created_at,
            password
        )
        VALUES (
                   #{userId},
                   #{name},
                   #{loginId},
                   #{nickname},
                   #{email},
                   #{profileImageUrl},
                   NOW(),
                   #{password}
        )

    </insert>

</mapper>